# BEGIN non-WWW to WWW
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_HOST} !^www.
RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]
</IfModule>
# END non-WWW to WWW

<IfModule mod_rewrite.c>

Options +FollowSymlinks

RewriteEngine on

rewritecond %{THE_REQUEST} ^.*/index.php

rewriterule ^(.*)index.php$ http://www.rangoonchemicals.com$1 [r=301,nc]

</IfModule>

redirect 301 /about-us.php/   http://www.rangoonchemicals.com/about-us.php
redirect 301 /products.php/   http://www.rangoonchemicals.com/products.php
redirect 301 /distributors.php/  http://www.rangoonchemicals.com/distributors.php
redirect 301 /where-to-buy.php/  http://www.rangoonchemicals.com/where-to-buy.php
redirect 301 /Flying-Tiger-Cub-Balm.php/  http://www.rangoonchemicals.com/Flying-Tiger-Cub-Balm.php
redirect 301 /Flying-White-Tiger-Cub-Balm.php/  http://www.rangoonchemicals.com/Flying-White-Tiger-Cub-Balm.php
redirect 301 /Flying-Peacock-Balm.php/  http://www.rangoonchemicals.com/Flying-Peacock-Balm.php
redirect 301 /Flying-White-Peacock-Balm.php/  http://www.rangoonchemicals.com/Flying-White-Peacock-Balm.php
redirect 301 /Flying-Tiger-Cub-Oil.php/  http://www.rangoonchemicals.com/Flying-Tiger-Cub-Oil.php
redirect 301 /Flying-Peacock-Oil.php/  http://www.rangoonchemicals.com/Flying-Peacock-Oil.php
redirect 301 /press.php/  http://www.rangoonchemicals.com/press.php
redirect 301 /contact-us.php/  http://www.rangoonchemicals.com/contact-us.php
redirect 301 /become-a-distributor.php/  http://www.rangoonchemicals.com/become-a-distributor.php

ErrorDocument 404 http://www.rangoonchemicals.com/404.php